@import "src/bootstrap.scss";

proof-formula-block {
  padding: 8px;
  border: 2px solid white;
}

proof-formula-block:hover {
  background-color: #fff7cc;
  border: 2px outset #ffeeaa;
}

.proof-formula {
  border-collapse: collapse;

  --d0-size: 8px;

  td {
    border: 2px solid darkgray;
    padding: 0;

    &.d0 {
      width: var(--d0-size);
      height: var(--d0-size);
    }
    &.d1 {
      width: calc(var(--d0-size)*3);
      height: calc(var(--d0-size)*3);
    }
    &.d2 {
      width: calc(var(--d0-size)*9);
      height: calc(var(--d0-size)*9);
    }
    &.d3 {
      width: calc(var(--d0-size)*27);
      height: calc(var(--d0-size)*27);
    }
  }

  .white { background-color: white; }
  .red { background-color: red; }
  .orange { background-color: orange; }
  .yellow { background-color: yellow; }
  .green { background-color: green; }
  .cyan { background-color: darkcyan; }
  .blue { background-color: blue; }
  .purple { background-color: purple; }
  .gray { background-color: lightgray; }
  .black { background-color: black; }
}

