@import "src/bootstrap.scss";

pf-page {
  display: block;
  position: relative;
  padding: 1em;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

h1.page {
  text-align: center;
  color: $primary;
}

pf-problem {
  display: block;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-top: none;
  min-height: 10em;
  padding: 1em;
  border-bottom-left-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}