@import "src/bootstrap.scss";

.root {
  overflow: hidden;
}

pf-nav-button-bar {
  position: absolute;
  button:not(:first-child) {
    margin-left: 8px;
  }
}

pf-page {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  padding: 1em;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: stretch;
}

h1.page {
  text-align: center;
  color: $primary;
  user-select: none;
}

button.btn {
  user-select: none;
}

// @media (width > 800px) {
//   h1.page {
//     margin-bottom: -0.5em;
//   }
// }

pf-problem-list {
  width: 100%;
  height: 100%;
  overflow: auto;
}

pf-problem {
  display: block;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-top: none;
  height: 100%;
  border-bottom-left-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
  overflow: hidden;
  container-type: size;
}

.pl1 {
  padding-left: 2ex;
}