
pf-builder-panel pf-formula-picker {
  display: flex;
  background-color: lightgray;
  padding: 2px;

  pf-pattern-view {
    width: min(16vw, 16vh);
    height: min(16vw, 16vh);
    // width: 137px;
    // height: 137px;
    // width: 164px;
    // height: 164px;
  }

  pf-formula-block {
    padding: 1ex;
  }
}

@media (width > 600px) {
  pf-formula-picker {
    flex-flow: column nowrap;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (width < 600px) {
  pf-formula-picker {
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
  }
}
