
pf-formula-picker {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  margin: 1em;
  border: 1px solid black;

  pf-pattern-view {
    width: 109px;
    height: 109px;
  }

  pf-formula-block {
    padding: 6px;
  }

  pf-formula-block:hover {
    background-color: #99bbcc;
    border-color: #668899;
    cursor: pointer;
  }

  pf-formula-block.selected {
    background-color: #ffee99;
    border-color: #ccbb66;
    cursor: pointer;
  }
}

@media (width > 600px) {
  pf-formula-picker {
    flex-flow: column nowrap;
    overflow-y: auto;
  }
}

@media (width < 600px) {
  pf-formula-picker {
    flex-flow: row nowrap;
    overflow-x: auto;
  }
}