@import "src/bootstrap.scss";

pf-pattern-view {
  position: relative;
  display: block;
  // width: 218px;
  // height: 218px;
  border: 1px solid darkgray;

  .d1 {
    width: 100%;
    height: 100%;
  }

  .d2 {
    width: 50%;
    height: 50%;
    flex-grow: 1;
  }

  .d3 {
    width: 33.333333333333%;
    height: 33.333333333333%;
    flex-grow: 1;
  }

  .d1, .d2, .d3 {
    container-type: size;
    font: bold 66.666666666666cqh "Times New Roman", serif;
    user-select: none;
    line-height: 100%;
  }
}

// pf-formula-picker pf-pattern-view {
//   width: 109px;
//   height: 109px;
// }

pf-pattern-atom {
  display: block;
  border: 1px solid darkgray;

  &.white { background-color: white; }
  &.red { background-color: #f00; }
  &.orange { background-color: #f80; }
  &.yellow { background-color: #ff0; }
  &.green { background-color: #090; }
  &.cyan { background-color: #099; }
  &.blue { background-color: #00f; }
  &.purple { background-color: #909; }
  &.gray { background-color: #ccc; }
  &.black { background-color: #000; }
  &.empty { background-color: #fff8cc; }
  &.highlight { background-color: #ffee55;}
}

pf-pattern-var {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  color: black;

  &.assigned {
    // color: #444;
    // -webkit-text-stroke: 1px white;
    background-color: rgba(white, 0.25);
  }
}

pf-pattern-grid {
  display: flex;
  flex-flow: row wrap;
}

pf-formula-block, pf-pattern-block {
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 2px;
}

@keyframes flash {
  0%   { background-color: initial; }
  17%  { background-color: #cff;  }
  33%  { background-color: initial; }
  50%  { background-color: #cff;  }
  66%  { background-color: initial; }
  83%  { background-color: #cff;  }
  100% { background-color: initial; }
}

pf-formula-block {
   &:hover {
    background-color: #99bbcc;
    border-color: #668899;
    cursor: pointer;
  }

  &.selected {
    background-color: #ffee99;
    border-color: #ccbb66;
    cursor: pointer;
  }

  &.added {
    animation: flash 2s linear;
  }
}
