
pf-rule-view {
  display: block;

  // pf-pattern-view {
  //   width: 216px;
  //   height: 216px;
  //   margin: 16px;
  // }
  pf-pattern-view {
    width: 151px;
    height: 151px;
    margin: 8px;
  }

  pf-rule-name {
    display: block;
    text-align: center;
    font: 2.5rem "Times New Roman", serif;
    padding-bottom: 1rem;
  }
}

pf-premises {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 1em;
  border-bottom: 8px solid black;
}

pf-consequences {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 1em;
}

pf-consequence {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}