
pf-builder-panel {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;

  h2 {
    text-align: center;
    flex-grow: 1;
    margin-top: 1em;
    user-select: none;
  }
}

pf-builder-rule {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex-grow: 1;
  padding: 8px;

  pf-pattern-view {
    width: min(24vw, 24vh);
    height: min(24vw, 24vh);
    margin: min(2vw, 2vh);
  }

  pf-pattern-block.matched {
    background-color: #efe;
    border-color: #090;
  }

  pf-pattern-block.invalid {
    background-color: #fee;
    border-color: #900;
  }
}

pf-premises {

  pf-pattern-block.unmatched {
    background-color: #fee;
    border-color: #900;
  }

  pf-pattern-block.allowed:hover {
    background-color: #cfc;
    cursor: pointer;
  }

  pf-pattern-block.restricted:hover {
    background-color: #fcc;
  }
}

pf-consequences.complete {

  pf-pattern-block.unmatched {
    background-color: #eef;
    border-color: #009;
  }
}

