
pf-builder-panel {
  display: flex;
  justify-content: stretch;
  overflow: hidden;

  pf-builder-main {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 1;
  }

  pf-builder-rule {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-grow: 1;
    overflow: auto;
  }

  pf-pattern-view {
    // width: 191px;
    // height: 191px;
    width: min(24vw, 24vh);
    height: min(24vw, 24vh);
  }

}

pf-pattern-block.matched {
  background-color: #efe;
  border-color: #090;
}

pf-pattern-block.invalid {
  background-color: #fee;
  border-color: #900;
}

pf-premises {

  pf-pattern-block.unmatched {
    background-color: #fee;
    border-color: #900;
  }

  pf-pattern-block.allowed:hover {
    background-color: #cfc;
    cursor: pointer;
  }

  pf-pattern-block.restricted:hover {
    background-color: #fcc;
  }
}

pf-consequences.complete {

  pf-pattern-block.unmatched {
    background-color: #eef;
    border-color: #009;
  }
}

@media (width > 600px) {
  pf-builder-panel {
    flex-flow: row nowrap;
    height: 100%;
  }
}

@media (width <= 600px) {
  pf-builder-panel {
    flex-flow: column nowrap;
    height: 100%;
  }
}

