
pf-formulas-panel div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

pf-formula-block {
  padding: 8px;
  border: 2px solid transparent;
}

pf-formula-block:hover {
  // background-color: #fff7cc;
  // border: 2px outset #ffeeaa;
  background-color: #99bbcc;
  border: 2px outset #668899;
}
