
pf-formulas-panel div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

pf-formula-block {
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 2px;
}

