
h3 {
  margin: 0;
  padding-top: 1em;
  text-align: center;
  &.solved {
    color: #090;
  }
  &.unsolved {
    color: #900
  }
}

pf-goal-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  pf-pattern-view {
    width: min(33vw, 33vh);
    height: min(33vw, 33vh);
  }
}