
pf-rule-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  pf-rule-block:hover {
    background-color: #99bbcc;
    border: 1px solid #668899;
    border-radius: 5px;
  }
}

pf-rule-block {
  padding: 8px;
  border: 2px solid transparent;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  cursor: pointer;
}

